<form action="/save-sources" method="post">
  <div class="row news-sources">
    <% @sources.each_slice(2) do |source1, source2| %>
      <div class="col-xs-6 left-source">
        <img src="<%= source1[:image_url] %>" alt="<%= source1[:name] %>" class="form-image">
        <input type="checkbox" name="source_<%= source1[:id] %>">
        <label for="source_<%= source1[:id] %>"></label>
      </div>
      <div class="col-xs-6 right-source">
        <img src="<%= source2[:image_url] %>" alt="<%= source2[:name] %>" class="form-image">
        <input type="checkbox" name="source_<%= source2[:id] %>">
        <label for="source_<%= source2[:id] %>"></label>
      </div>
    <% end %>
  </div>
  <div class="row submit-form">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-default form-control">Save Sources</button>
    </div>
  </div>
</form>
